.candidate {
	width: 15rem;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 2rem 1rem;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	border-radius: 1rem;
	.avatar {
		width: 16rem;
		height: 16rem;
		background-size: cover;
		background-position: center;
		border-radius: 0.5rem;
		margin: auto;
	}

	.name {
		font-weight: 600;
	}
	.voteBtn {
	}
}
